{% extends "dashboards/base.html" %}
{% block title %}{{ course.title }}{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
  <h3 class="fw-bold">{{ course.title }}</h3>

  <a href="{% url 'create_module_teacher' course.id %}" class="btn btn-success">
    <i class="bi bi-plus-square"></i> Create Module
  </a>
</div>

<p class="text-muted">{{ course.description }}</p>

<hr>

<h5 class="fw-bold mb-3">Modules</h5>

{% if modules %}
  <div class="list-group">
    {% for module in modules %}
      <a href="{% url 'module_detail_teacher' module.id %}"
         class="list-group-item list-group-item-action d-flex justify-content-between">
        {{ module.title }}
        {% if module.is_published %}
          <span class="badge bg-success">Published</span>
        {% else %}
          <span class="badge bg-secondary">Draft</span>
        {% endif %}
      </a>
    {% endfor %}
  </div>
{% else %}
  <p class="text-muted">No modules created yet.</p>
{% endif %}

{% endblock %}
