{% extends "dashboards/base.html" %}
{% block title %}My Courses{% endblock %}

{% block sidebar %}
<a href="{% url 'teacher_dashboard' %}">
  <i class="bi bi-speedometer2"></i> Dashboard
</a>
<a href="{% url 'create_course_teacher' %}">
  <i class="bi bi-journal-plus"></i> Create Course
</a>
<a href="{% url 'my_courses_teacher' %}" class="active">
  <i class="bi bi-folder"></i> My Courses
</a>
{% endblock %}

{% block content %}
<h3 class="fw-bold mb-4">My Courses</h3>
<h3 class='fw-bold mb-4'>Published Courses</h3>
{% if courses %}
  <div class="row g-4">
    {% for course in courses %}
      <div class="col-md-4">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h5 class="fw-bold">{{ course.title }}</h5>
            <p class="text-muted small">{{ course.description|truncatechars:80 }}</p>
            {% comment %} <div class='position-relative'>
            <span class="badge {% if course.is_published %}bg-success{% else %}bg-secondary{% endif %} position-absolute top-0 end-0 m-2">
              {{ course.is_published|yesno:"Published, Draft" }}
            </span>
            </div> {% endcomment %}
            <a href="{% url 'course_detail_teacher' course.id %}" class="btn btn-primary">View Course
            </a>
            <a href="{% url 'edit_course_teacher' course.id %}" class="btn btn-danger">Edit Course

            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p class="text-muted">No courses created yet.</p>
{% endif %}
{% endblock %}
