{% extends "dashboards/base.html" %}
{% block title %}Teacher Dashboard{% endblock %}

{% block sidebar %}
<a href="#" class="active">
  <i class="bi bi-speedometer2"></i> Dashboard
</a>
<a href="{% url 'create_course_teacher' %}">
  <i class="bi bi-journal-plus"></i> Create Course
</a>

<a href="{% url 'my_courses_teacher' %}">
  <i class="bi bi-folder"></i> My Courses
</a>
<a href="#">
  <i class="bi bi-question-circle"></i> Quizzes
</a>
{% endblock %}


{% block content %}

<h3 class="fw-bold mb-4">Teacher Overview</h3>

<div class="row g-3">
  <div class="col-md-2">
    <div class="card shadow-sm">
      <div class="card-body">
        <h6>Total Courses</h6>
        <h3 class="fw-bold">{{courses.count}}</h3>
      </div>
    </div>
  </div>


  <div class="col-md-2">
    <div class="card shadow-sm">
      <div class="card-body">
        <h6>Total Modules</h6>
        <h3 class="fw-bold">{{modules.count}}</h3>
      </div>
    </div>
  </div>

    <div class="col-md-2">
    <div class="card shadow-sm">
      <div class="card-body">
        <h6>Total Lessons</h6>
        <h3 class="fw-bold">{{lessons.count}}</h3>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h6>Students Enrolled</h6>
        <h3 class="fw-bold">0</h3>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h6>Published Courses</h6>
        <h3 class="fw-bold">{{published_courses.count}}</h3>
      </div>
    </div>
  </div>
</div>
{% endblock %}
